<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		
				<rewrite>
					<rules>
						<rule name="RedirectUserFriendlyURL1" stopProcessing="true">
						</rule>
						<rule name="RewriteUserFriendlyURL2" stopProcessing="true">
						</rule>
					</rules>
				</rewrite>

		<!-- <defaultDocument>
			<files>
				<add value="WebForm1.aspx" />
			</files>
		</defaultDocument> -->
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviciowebSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="serviciowebSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44337/servicioweb.asmx"
                binding="basicHttpBinding" bindingConfiguration="serviciowebSoap"
                contract="serviciowebFlavio.serviciowebSoap" name="serviciowebSoap" />
        </client>
    </system.serviceModel>
</configuration>